.weather-card {
  background-color: #a75ce0;
  padding: 10px;
}
.weather-card-main {
  color: #482861;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.weather-card-title {
  font-weight: 600;
}

.weather-card-sub-details {
  font-weight: 200;
  padding: 10px;
}

.weather-card-sub-lane-details {
}

.weather-card-align {
}
